<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮件提醒</title>
    　　
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<script type="text/javascript">-->
        <!--//        var para = function () {-->
        <!--//        }-->
        <!--var url = document.location.toString();-->
        <!--var arrUrl = url.split("?");-->
        <!--var para = arrUrl[1];-->
        <!--alert('===='+url);-->
    <!--</script>-->
</head>

<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">

    　
    <tr>
        <td>
            <div style="margin: 20px;text-align: center;margin-top: 50px">
                <img src="https://bkimg.cdn.bcebos.com/pic/dc54564e9258d1099c26f456df58ccbf6d814d08" border="0" style="display:block;width:250px;height:100px">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="border: #36649d 1px;margin: 30px">
                <label style="font-size: 22px;color: #FF4500;font-weight: bold">LF邮箱提醒 --- %s 有告警信息！！！</label>

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div style="border: #36649d 1px dashed;margin: 30px;padding: 10px">
                <p style="font-size: 16px"> %s </p>
            </div>
        </td>
    </tr>
    　
    <tr>
        <td>
            <div style="margin: 40px">
                <p style="font-size: 16px">数据开发团队</p>
                <p style="color: #0066CC;font-size: 14px ">（这是一封自动发送的邮件，不用回复。）</p>

            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div align="right" style="margin: 40px;border-top: solid 1px gray" id="bottomTime">
                <p style="margin-right: 20px">小皮</p>
                <label style="margin-right: 20px">%s</label>
            </div>
        </td>
    </tr>
</table>
</body>
</html>